<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
</head>
<body>
  <header>
    <!-- Your common header content goes here -->
  </header>

  {{{body}}} <!-- This is where the content of specific pages will be inserted -->

  <footer>
    <!-- Your common footer content goes here -->
  </footer>
</body>
</html>