{{!-- /views/blogpost.hbs --}}
<div class="stacked-div-container">
    <div class="stacked-div">
        <div class="top-section">
            <h2>{{blogpost.title}} </h2>
            <p>Posted by {{blogpost.username}} on {{format_date blogpost.created_date}}</p>
        </div>
        <div class="bottom-section">
            <p>{{blogpost.content}}</p>
        </div>
    </div>
</div>
<div class="stacked-div-container">
    <div class="stacked-div">
        <div class="top-section">
        </div>
        <div class="bottom-section">
            <p>Comment</p>
            {{!-- comment form --}}            
            <form class="comment-form" >
                <input type="text" name="text" id="comment-text" placeholder="type comment here">
                <button id="submitBtn" type="submit" name="action" value="submit">Submit</button>
            </form>
        </div>
    </div>
</div>