{{#each posts}}
    <div class="stacked-div-container"> <!-- Add a container for the entire stacked div -->
        <div class="stacked-div">
            <div class="top-section">
                <h2>{{title}}</h2>
                <p>Posted by {{user.email_id}} on {{created_date}}</p>
            </div>
            <div class="bottom-section">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
{{/each}}
