<!-- views/login.hbs -->
<form action="/login" method="POST">
    <!-- Form fields for login -->
    <input type="text" name="email_id" placeholder="Email ID">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" name="action" value="login">Log In</button>
    <a href="/signup">Sign Up</a> <!-- Change this to a link -->
</form>