<!-- views/login.hbs -->
<form action="/api/user/auth" method="POST">
    <!-- Form fields for login -->
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" name="action" value="login">Log In</button>
    <a href="/user/signup">Sign Up</a>
</form>