{{!-- views/signup.hbs --}}
<form action="/api/user/auth" method="POST">
    <!-- Form fields for signup -->
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit" name="action" value="signup">Sign Up</button>
</form>