<!-- views/splash.handlebars -->
{{!-- Tell Handlebars to use the 'main' layout --}}
{{#> main}}
  <h1>Welcome to the Splash Page</h1>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
{{/main}}